{% extends "base.html.twig" %}

{% block title %}App:blog:entry{% endblock %}

{% block body %}
    <div class="container">
    <div class="blog-header">
        {% if comments %}
            <h1 style="margin-top: 20px; margin-bottom: 20px;">Commentaires</h1>
        {% else  %}
            <h1 class="blog-title">Pas de commentaires</h1>
        {% endif %}
    </div>
    {% if comments %}
        {% for comment in comments %}
            <article class="row justify-content-center offset-6 col-12">
                <div class="commentaire col-6" style="background-color: white; margin-bottom: 20px;">
                    <div style="font-style: italic">Posté par <a href="{{ path('author', {'name': comment.author.username|url_encode }) }}">{{ comment.author.name }}  </a> le {{ comment.updatedAt|date('Y-m-d-H:i:s') }}
                        </br>{{ comment.content|raw }}</p> </div>
                </div>
            </article>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}