body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("../images/table1.jpg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.containerPrincipal{
  background-color:#fffdf4;
  width: 80%;
  margin:auto;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}
h1{
  font-family: 'Dancing Script', cursive;
}
h2{
  font-weight: normal;
}
img {
  float: left;
  padding-right: 20px;
}
footer{
  background-color: #212529;
  height: 150px;
  color:white;
}

.avis{
  color:red;
  font-size: 1.2em;
  font-style: italic;
}
.critiques{
  margin-top: 50px;
}
.title{
  height: 300px;
}
.headerTitle{
  background-image: url("../images/livre.gif");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  margin: 0;
  color: white;
}
.formulaire{
  margin-bottom: 50px;
  margin-top: 50px;
}










