@font-face {
  font-family: "allure";
  src: url('../allure.otf');
}
.row{
  margin:0 !important;
}
mark{
  background: rgba(211, 211, 211, 0.8);
  border-radius: 3px ;
  color: black;
}
.navbar{

  background: #9fcdff;

 }

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color:rgb(242, 242, 242);

  background-attachment: fixed;
  background-size: cover;
}
footer{

  background-color: #343a40;
  height: 150px;
  color:white;
}
h1{
  margin-top: 20px;
  margin-bottom: 20px;
}
button{
  margin-bottom: 10px;
  margin-top: 10px;
}
table{
  background-color: white !important;
}
img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
header, .index{
  background: rgb(255, 255, 255);
}
.index{
  background-color: #AA3333;
}
.index a{
  color:white;
}
.index a:hover{
  color: black;
  font-weight: bold;
}
.alphabet{
  font-size: 1.2em;
}
.container{
  min-height: 300px;
  align-content: center;


}
.blog-header{
  text-align: center;
  color: white;
  font-family: "allure";
  margin-bottom: 50px;
  margin-top: 100px;
}
.livres{
  margin-bottom: 20px !important;
  background-color: rgb(255,255,255);
  border-radius: 10px ;
}
.livres:hover{
    border: #343a40 solid 1px;
  border-radius: 10px;
}
.title{
  height: 100px;
  padding-top: 50px;

}
header{
  background-color:rgb(242, 242, 242);
}
.avis{
  font-family:fantasy ;
  color:#AA3333;
  font-size: 1.2em;
  font-style: italic;
}
.critiques{
  margin-top: 50px;
}
.category{
  font-weight: bold;
  padding: unset;
}
.writer{
  font-style: italic;
  font-size: 0.5em;
  color:gray
}
.datePost{
  font-style: oblique;
  text-align: right;
}
.comment, .auteur{
  background-color: white;
  margin-bottom: 20px;
}
.auteur{
  text-align: center;
}
.postBy{
  font-style: italic;
}
.formulaire{
  margin-bottom: 50px;
  margin-top: 100px;
}
th,td{
  text-align: center !important;
  border: #7c8ea3 1px solid;
}
thead{
  text-align: center;
  background-color: #343a40 ;
  color:white;
}
.blog-main{
  min-height: 300px;
  max-height: 500px;
  overflow: auto;
}
.author-main{
    min-height: 300px;
    max-height: 500px;
  overflow: auto;
}
.admin{
  display: flex;
  flex-direction: row;
  align-items: left;
}
.card{
  background: rgba(211, 211,211,1); !important;
}
.card-header{
  background:#343a40;
  color:white;
  text-align: center;
  border-radius: 10px;
}
.review, .displayComment{
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
.alert{
  text-align: center !important;
}
.plus{
  text-align: right;
}
.deleteComment {
  cursor: pointer;
  font-family: Arial;
  color: red;
}
.letter{
  color: #AA3333;
}

.point{
  color:black;
}
blockquote{
  padding-bottom: 20px;
}
.lastBook{
  margin-bottom: 10px !important;
  margin-top: 10px !important;
    background-color: rgb(255,255,255);
    border-radius: 10px;
}
.lastBook:hover{
  border-radius: 3px;
    border: #343a40 solid 1px;
  border-radius: 10px;

}
.bandeau{
  color: black;
  padding: unset;
  margin: unset;
}
.alert{
  font-weight: bold;
  font-size: 1.2em;
  color: red;
  background-color: rgba(211, 211, 211, 0.8);
  opacity: 0.8;
}
.talk{
  text-align: center;
  color: white;
  font-weight: normal;
  font-style: oblique;
  text-decoration-color: #AA3333;
}
#carouselExampleSlidesOnly{
  background:#343a40;
  text-align: center;
  margin-top: -16px;
  color: white;
  opacity: 0.9;




}
.back{
  margin-top: 20px;
  font-family: fantasy;
  color: black;
}
.back:hover{
  color:#AA3333;
}
aside{
  padding:  unset;
  background:#343a40;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  opacity: 0.9;







}

















