{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="blog-header">
            <h2 class="blog-title"></h2>
        </div>

        <div class="row">
            <div class="col-sm-12 blog-main">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="bg-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                    <form action={{ path('target_route') }} method="post">
                        isbn: <input type="text" name="isbn"><br>
                        avis: <input type="text" name="avis"><br>
                        <input type="submit">
                    </form>

            </div>
        </div>
    </div>
{% endblock %}