{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title"><mark>Auteur</mark></h1>
        </div>
        <div class="row">
            <article class="row justify-content-center  col-12">
                <div class="auteur col-12">
                    <h2 class="blog-post-title">{{ author.name|raw }} {{ author.surname|raw }}</h2>
                    <p>email: {{ author.email|raw }}</p>
                    <p>Un mot sur moi {{ author.shortBio|raw }}</p>
                </div>
            </article>
        </div>
    </div>
{% endblock %}