<footer>
    <div class="row justify-content-center">
        <div class=" offset-md-1 col-md-3">
            <p>Peyrat Damien</p>
        </div>
        <div class="offset-md-1 col-md-3">
            <p>Calendrier</p>
        </div>
        <div class="coffset-md-1 col-md-3">
            <p>Archives</p>
        </div>
    </div>
</footer>
