{% block footer %}
<footer>
    <div class="row justify-content-center">
        <div class=" copyright offset-md-1 col-md-3">
            <p> Copyright © 2018 PEYRAT DAMIEN</p>
        </div>
        <div class="offset-md-1 col-md-3">
            <div class ="row">
                <div class ="mention col-4 justify-content-center">
                <p>Mention Légales</p>
                <p>Politique de confidentialité</p>
                </div>
            </div>

        </div>
        <div class="coffset-md-1 col-md-3">
            <p>Archives</p>
        </div>
    </div>
</footer>
{% endblock %}