{% block header %}
    <header>
        <div class="title offset-1 col-8 d-none d-lg-block">
<h1 class="lcdpr"><span class="letter">L</span>e <span class="letter">C</span>ercle <span class="letter">D</span>es <span class="letter">P</span>oètes <span class="letter">R</span>etrouvés</h1>
        </div>
        <div class="citation offset-8 col-4 d-none d-lg-block">
            <blockquote class ="d-sm-block">"La vertu paradoxale de la lecture est de nous abstraire du monde pour lui trouver un sens." <br />
                <em>Daniel Pennac</em></blockquote>
        </div>
    </header>
{% endblock %}