{% block header %}
    <header>
        <div class="title offset-4 col-6 ">
            <h1 class="lcdpr">L.C.D.P.R <br/>(Le cercle des Poètes retrouvés)</h1></div>
        <div class="citation offset-8 col-4">
            <blockquote>" La vertu paradoxale de la lecture est de nous abstraire du monde pour lui trouver un sens." <br />
                <em>Daniel Pennac</em></blockquote>
        </div>
    </header>
{% endblock %}