{% block rss %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner d-none d-lg-block">
        <div class="carousel-item active">
            <div class="d-block w-100" src="" alt="Second slide">Chargement en cours...</div>
        </div>
        {% for actu in rss %}
            <div class="carousel-item ">
                <div class="d-block w-100" src="" alt="First slide"><span>{{ actu.date|date('Y-m-d H:i') }} </span><i class="fas fa-rss" style="color: #fd7e14"></i><a href=" {{ actu.link }}" target="_blank"><h5 class="bookTitle"> {{ actu.title }}</h5></a></div>
                <div>{{ actu.description }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}